/* Common css =================== */

html {
  font-style: 16px;
  /* tik kol kuriam del scroll */
  margin-bottom: 500px;
}

/* User cards =================== */

.u-card {
  text-align: center;
  color: #999999;
  border-bottom: 1px solid #999999;
  padding: 2rem 0;
}

.u-card__image {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  object-fit: cover;
  border: 1px solid #999999;
  padding: 8px;
  margin-bottom: 1.5rem;
}

.u-card__title {
  font-weight: normal;
  font-size: 1.4rem;
}
